<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Chest & Tris</title>
</head>
<body>
    <h1>Workout Details</h1>

    <br>

    <table>
        <thead>
            <tr id="set">
                <th></th>
                <th colspan="4">Single Set</th>
                <th colspan="7">Super Set</th>
                <th colspan="9">Giant Set</th>
                <th colspan="4">Single Set</th>
                <th colspan="7">Super Set</th>
                <th colspan="2">Super Set</th>
            </tr>
            <tr id="exercise">
                <th></th>
                <th colspan="4">Dumbbell Chest Press</th>
                <th colspan="3">Incline Dumbbell Fly</th>
                <th colspan="4">Incline Dumbbell Press</th>
                <th colspan="3">Close Grip Press</th>
                <th colspan="3">Partial Chest Fly</th>
                <th colspan="3">Decline Push-up</th>
                <th colspan="4">Tricep Extensions</th>
                <th colspan="4">Single Arm Kickback</th>
                <th colspan="3">Tricep Push-up</th>
                <th colspan="1">Dips</th>
                <th colspan="1">In and Outs</th>
            </tr>
            <tr id="reps">
                <th></th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
            </tr>

        </thead>
        <tbody>         
            <tr>
                <td><%=exercise.date%></td>
                <td> <%= exercise.dcpSet1%> </td>
                <td> <%= exercise.dcpSet2%> </td>
                <td> <%= exercise.dcpSet3%> </td>
                <td> <%= exercise.dcpSet4%> </td>
                <td> <%= exercise.idfSet1%> </td>
                <td> <%= exercise.idfSet2%> </td>
                <td> <%= exercise.idfSet3%> </td>
                <td> <%= exercise.idpSet1%> </td>
                <td> <%= exercise.idpSet2%> </td>
                <td> <%= exercise.idpSet3%> </td>
                <td> <%= exercise.idpSet4%> </td>
                <td> <%= exercise.cgpSet1%> </td>
                <td> <%= exercise.cgpSet2%> </td>
                <td> <%= exercise.cgpSet3%> </td>
                <td> <%= exercise.pcfSet1%> </td>
                <td> <%= exercise.pcfSet2%> </td>
                <td> <%= exercise.pcfSet3%> </td>
                <td> <%= exercise.dpSet1%> </td>
                <td> <%= exercise.dpSet2%> </td>
                <td> <%= exercise.dpSet3%> </td>
                <td> <%= exercise.teSet1%> </td>   
                <td> <%= exercise.teSet2%> </td>   
                <td> <%= exercise.teSet3%> </td>   
                <td> <%= exercise.teSet4%> </td>   
                <td> <%= exercise.sakSet1%> </td>   
                <td> <%= exercise.sakSet2%> </td>   
                <td> <%= exercise.sakSet3%> </td>   
                <td> <%= exercise.sakSet4%> </td>   
                <td> <%= exercise.tpSet1%> </td>   
                <td> <%= exercise.tpSet2%> </td>   
                <td> <%= exercise.tpSet3%> </td>   
                <td> <%= exercise.dSet1%> </td>   
                <td> <%= exercise.ioSet1%> </td>      
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <form action="/updateChestAndTrisWorkout/<%=exercise._id%>" method="get">
        <button>Update Workout</button>
    </form>
    
    <br>

    <form action="/deleteChestAndTrisWorkout/<%=exercise._id%>?_method=DELETE" method="POST">
        <button>Delete Workout</button>
    </form>

    <br>

    <a href="/home"><button>Back to Homepage</button></a>

</body>
</html>