<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <title>Fitness Homepage</title>
</head>
<body id="homepage">


    <h1 id="title">Bespoke Fitness</h1>

    <div class="homeContainer">
        <div id="imgContainer">
            <a href="/chestAndTris"><img src="<%=apiData[98].gifUrl%>" alt=""></a> &nbsp;&nbsp;&nbsp;
        </div>
        <div id="infoContainer">
            <h1>Chest & Triceps</h1>
        </div>
    </div>

    <br>
    
    <div class="homeContainer">
        <div id="imgContainer">
            <a href="/legs"><img src="<%=apiData[120].gifUrl%>" alt=""></a> &nbsp;&nbsp;&nbsp;
        </div>
        <div id="infoContainer">
            <h1>Legs</h1>
        </div>
    </div>

    <br>
    
    <div class="homeContainer">
        <div id="imgContainer">
            <a href="/backAndBis"><img src="<%=apiData[107].gifUrl%>" alt=""></a> &nbsp;&nbsp;&nbsp;
        </div>
        <div id="infoContainer">
            <h1>Back & Biceps</h1>
        </div>
    </div>

    <br>
    
    <div class="homeContainer">
        <div id="imgContainer">
            <a href="/shoulders"><img src="<%=apiData[74].gifUrl%>" alt=""></a> &nbsp;&nbsp;&nbsp;
        </div>
        <div id="infoContainer">
            <h1>Shoulders</h1>
        </div>
    </div>

    <br>
    
    <div class="homeContainer">
        <div id="imgContainer">
            <a href="/squatClean"><img src="<%=apiData[103].gifUrl%>" alt=""></a> &nbsp;&nbsp;&nbsp;
        </div>
        <div id="infoContainer">
            <h1>Olympic Lifting</h1>
        </div>
    </div>

    <br>
    <br>

    <footer>
        <a href="/logout"><button>Logout</button></a>
    </footer>
</body>
</html>