<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Legs</title>
</head>
<body>
    <h1> Update Workout</h1>

    <br>

    <table>
        <thead>
            <tr id="set">
                <th></th>
                <th colspan="4">Single Set</th>
                <th colspan="6">Super Set</th>
                <th colspan="9">Giant Set</th>
                <th colspan="6">Single Set</th>
            </tr>
            <tr id="exercise">
                <th></th>
                <th colspan="4">Back Squat</th>
                <th colspan="3">Alternating Lunge</th>
                <th colspan="3">Step-up to Reverse Lunge</th>
                <th colspan="3">Parallel Squat</th>
                <th colspan="3">Bulgarian Squat</th>
                <th colspan="3">Straight Leg Deadlift</th>
                <th colspan="2">Single Leg Calf Raises</th>
                <th colspan="2">Seated Calf Raise</th>
                <th colspan="2">In and Outs</th>

            </tr>
            <tr id="reps">
                <th></th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td><%=exercise.date%></td>
                <td> <%= exercise.bsSet1%> </td>
                <td> <%= exercise.bsSet2%> </td>
                <td> <%= exercise.bsSet3%> </td>
                <td> <%= exercise.bsSet4%> </td>
                <td> <%= exercise.alSet1%> </td>
                <td> <%= exercise.alSet2%> </td>
                <td> <%= exercise.alSet3%> </td>
                <td> <%= exercise.surlSet1%> </td>
                <td> <%= exercise.surlSet2%> </td>
                <td> <%= exercise.surlSet3%> </td>
                <td> <%= exercise.psSet1%> </td>
                <td> <%= exercise.psSet2%> </td>
                <td> <%= exercise.psSet3%> </td>
                <td> <%= exercise.bulsSet1%> </td>
                <td> <%= exercise.bulsSet2%> </td>
                <td> <%= exercise.bulsSet3%> </td>
                <td> <%= exercise.sldSet1%> </td>
                <td> <%= exercise.sldSet2%> </td>
                <td> <%= exercise.sldSet3%> </td>
                <td> <%= exercise.slcrSet1%> </td>
                <td> <%= exercise.slcrSet2%> </td>   
                <td> <%= exercise.scrSet1%> </td>   
                <td> <%= exercise.scrSet2%> </td>   
                <td> <%= exercise.ioSet1%> </td>   
                <td> <%= exercise.ioSet2%> </td>       
            </tr> 
            <tr id="records">
                <form action="/updateLegsLog/<%=exercise._id%>" method="post">
                    <td> <input name="date" id="date" type="date" value="<%= exercise.date%>">  </td>
                    <td> <input name="bsSet1" id="bsSet1" type="number" value="<%= exercise.bsSet1%>"> </td>
                    <td> <input name="bsSet2" id="bsSet2" type="number" value="<%= exercise.bsSet2%>"> </td>
                    <td> <input name="bsSet3" id="bsSet3" type="number" value="<%= exercise.bsSet3%>"> </td>
                    <td> <input name="bsSet4" id="bsSet4" type="number" value="<%= exercise.bsSet4%>"> </td>
                    <td> <input name="alSet1" id="alSet1" type="number" value="<%= exercise.alSet1%>"> </td>
                    <td> <input name="alSet2" id="alSet2" type="number" value="<%= exercise.alSet2%>"> </td>
                    <td> <input name="alSet3" id="alSet3" type="number" value="<%= exercise.alSet3%>"> </td>
                    <td> <input name="surlSet1" id="surlSet1" type="number" value="<%= exercise.surlSet1%>"> </td>
                    <td> <input name="surlSet2" id="surlSet2" type="number" value="<%= exercise.surlSet2%>"> </td>
                    <td> <input name="surlSet3" id="surlSet3" type="number" value="<%= exercise.surlSet3%>"> </td>
                    <td> <input name="psSet1" id="psSet1" type="number" value="<%= exercise.psSet1%>"> </td>
                    <td> <input name="psSet2" id="psSet2" type="number" value="<%= exercise.psSet2%>"> </td>
                    <td> <input name="psSet3" id="psSet3" type="number" value="<%= exercise.psSet3%>"> </td>
                    <td> <input name="bulsSet1" id="bulsSet1" type="number" value="<%= exercise.bulsSet1%>"> </td>
                    <td> <input name="bulsSet2" id="bulsSet2" type="number" value="<%= exercise.bulsSet2%>"> </td>
                    <td> <input name="bulsSet3" id="bulsSet3" type="number" value="<%= exercise.bulsSet3%>"> </td>
                    <td> <input name="sldSet1" id="sldSet1" type="number" value="<%= exercise.sldSet1%>"> </td>
                    <td> <input name="sldSet2" id="sldSet2" type="number" value="<%= exercise.sldSet2%>"> </td>
                    <td> <input name="sldSet3" id="sldSet3" type="number" value="<%= exercise.sldSet3%>"> </td>
                    <td> <input name="slcrSet1" id="slcrSet1" type="number" value="<%= exercise.slcrSet1%>"> </td>
                    <td> <input name="slcrSet2" id="slcrSet2" type="number" value="<%= exercise.slcrSet2%>"> </td>
                    <td> <input name="scrSet1" id="scrSet1" type="number" value="<%= exercise.scrSet1%>"> </td>
                    <td> <input name="scrSet2" id="scrSet2" type="number" value="<%= exercise.scrSet2%>"> </td>
                    <td> <input name="ioSet1" id="ioSet1" type="number" value="<%= exercise.ioSet1%>"> </td>
                    <td> <input name="ioSet2" id="ioSet2" type="number" value="<%= exercise.ioSet2%>"> </td>
                    <button type="submit">Update</button>
                </form>
            </tr>
        </tbody>
    </table>

    <br>

    <a href="/home"><button>Back to Homepage</button></a>
</body>
</html>