<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Shoulders</title>
</head>
<body>
    <h1> Update Workout</h1>

    <br>

    <table>
        <thead>
            <tr id="set">
                <th></th>
                <th colspan="4">Single Set</th>
                <th colspan="7">Super Set</th>
                <th colspan="9">Giant Set</th>
                <th colspan="7">Super Set</th>
                <th colspan="2">Super Set</th>
            </tr>
            <tr id="exercise">
                <th></th>
                <th colspan="4">Shoulder Press</th>
                <th colspan="3">Lateral Raise</th>
                <th colspan="4">Upright Row</th>
                <th colspan="3">EZ Bar Underhand Press</th>
                <th colspan="3">1-1-2 Front Raise</th>
                <th colspan="3">Rear Delt Raise</th>
                <th colspan="4">Dumbbell Shrug</th>
                <th colspan="3">Dumbbell Scap Trap</th>
                <th colspan="1">Sagi-Six-Way</th>
                <th colspan="1">Tuck and Roll</th>
            </tr>
            <tr id="reps">
                <th></th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>8 REPS</th>                      
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>8 REPS</th>                      
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>FAILURE</th>
                <th>FAILURE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=exercise.date%></td>
                <td> <%= exercise.spSet1%> </td>
                <td> <%= exercise.spSet2%> </td>
                <td> <%= exercise.spSet3%> </td>
                <td> <%= exercise.spSet4%> </td>
                <td> <%= exercise.lrSet1%> </td>
                <td> <%= exercise.lrSet2%> </td>
                <td> <%= exercise.lrSet3%> </td>
                <td> <%= exercise.urSet1%> </td>
                <td> <%= exercise.urSet2%> </td>
                <td> <%= exercise.urSet3%> </td>
                <td> <%= exercise.urSet4%> </td>
                <td> <%= exercise.ezbupSet1%> </td>
                <td> <%= exercise.ezbupSet2%> </td>
                <td> <%= exercise.ezbupSet3%> </td>
                <td> <%= exercise.frSet1%> </td>
                <td> <%= exercise.frSet2%> </td>
                <td> <%= exercise.frSet3%> </td>
                <td> <%= exercise.rdrSet1%> </td>
                <td> <%= exercise.rdrSet2%> </td>
                <td> <%= exercise.rdrSet3%> </td>                 
                <td> <%= exercise.dsSet1%> </td>   
                <td> <%= exercise.dsSet2%> </td>   
                <td> <%= exercise.dsSet3%> </td>   
                <td> <%= exercise.dsSet4%> </td>   
                <td> <%= exercise.dstSet1%> </td>   
                <td> <%= exercise.dstSet2%> </td>   
                <td> <%= exercise.dstSet3%> </td>   
                <td> <%= exercise.sswSet1%> </td>   
                <td> <%= exercise.trSet1%> </td>       
            </tr>
            <tr id="records">
                <form action="/updateShouldersLog/<%=exercise._id%>" method="post">
                    <td> <input name="date" id="date" type="date" value="<%=exercise.date%>"> </td>
                    <td> <input name="spSet1" id="spSet1" type="number" value="<%= exercise.spSet1%>"> </td>
                    <td> <input name="spSet2" id="spSet2" type="number" value="<%= exercise.spSet2%>"> </td>
                    <td> <input name="spSet3" id="spSet3" type="number" value="<%= exercise.spSet3%>"> </td>
                    <td> <input name="spSet4" id="spSet4" type="number" value="<%= exercise.spSet4%>"> </td>
                    <td> <input name="lrSet1" id="lrSet1" type="number" value="<%= exercise.lrSet1%>"> </td>
                    <td> <input name="lrSet2" id="lrSet2" type="number" value="<%= exercise.lrSet2%>"> </td>
                    <td> <input name="lrSet3" id="lrSet3" type="number" value="<%= exercise.lrSet3%>"> </td>
                    <td> <input name="urSet1" id="urSet1" type="number" value="<%= exercise.urSet1%>"> </td>
                    <td> <input name="urSet2" id="urSet2" type="number" value="<%= exercise.urSet2%>"> </td>
                    <td> <input name="urSet3" id="urSet3" type="number" value="<%= exercise.urSet3%>"> </td>
                    <td> <input name="urSet4" id="urSet4" type="number" value="<%= exercise.urSet4%>"> </td>
                    <td> <input name="ezbupSet1" id="ezbupSet1" type="number" value="<%= exercise.ezbupSet1%>"> </td>
                    <td> <input name="ezbupSet2" id="ezbupSet2" type="number" value="<%= exercise.ezbupSet2%>"> </td>
                    <td> <input name="ezbupSet3" id="ezbupSet3" type="number" value="<%= exercise.ezbupSet3%>"> </td>
                    <td> <input name="frSet1" id="frSet1" type="number" value="<%= exercise.frSet1%>"> </td>
                    <td> <input name="frSet2" id="frSet2" type="number" value="<%= exercise.frSet2%>"> </td>
                    <td> <input name="frSet3" id="frSet3" type="number" value="<%= exercise.frSet3%>"> </td>
                    <td> <input name="rdrSet1" id="rdrSet1" type="number" value="<%= exercise.rdrSet1%>"> </td>
                    <td> <input name="rdrSet2" id="rdrSet2" type="number" value="<%= exercise.rdrSet2%>"> </td>
                    <td> <input name="rdrSet3" id="rdrSet3" type="number" value="<%= exercise.rdrSet3%>"> </td>          
                    <td> <input name="dsSet1" id="dsSet1" type="number" value="<%= exercise.dsSet1%>"> </td>
                    <td> <input name="dsSet2" id="dsSet2" type="number" value="<%= exercise.dsSet2%>"> </td>
                    <td> <input name="dsSet3" id="dsSet3" type="number" value="<%= exercise.dsSet3%>"> </td>
                    <td> <input name="dsSet4" id="dsSet4" type="number" value="<%= exercise.dsSet4%>"> </td>
                    <td> <input name="dstSet1" id="dstSet1" type="number" value="<%= exercise.dstSet1%>"> </td>
                    <td> <input name="dstSet2" id="dstSet2" type="number" value="<%= exercise.dstSet2%>"> </td>
                    <td> <input name="dstSet3" id="dstSet3" type="number" value="<%= exercise.dstSet3%>"> </td>
                    <td> <input name="sswSet1" id="sswSet1" type="number" value="<%= exercise.sswSet1%> "> </td>
                    <td> <input name="trSet1" id="trSet1" type="number" value="<%= exercise.trSet1%>"> </td>
                    <button type="submit">Update</button>
                </form>
            </tr>
        </tbody>
    </table>

    <br>

    <a href="/home"><button>Back to Homepage</button></a>
</body>
</html>